<div class="customer">
  <p class="full_name"><%= customer.full_name %></p>
  <%= image_tag customer.image, alt: customer.full_name %>
  <p>
    <span class="province">Province: </span>

  </p>
  <p class="phone_number"><%= customer.phone_number %></p>
  <p class="email_address"><%= customer.email_address %></p>
</div>